<header class="paper-header">
  <h1>{{{ title }}}</h1>
  <div class="authors">
    {{#authors}}
    <span class="author">{{ name }}<sup>{{ affiliation_number }}</sup></span>
    {{/authors}}
  </div>
  <div class="affiliations">
    {{#affiliations}}
    <p><sup>{{ number }}</sup> {{{ name }}}</p>
    {{/affiliations}}
  </div>
  <p class="corresponding"><strong>Corresponding:</strong> {{{ corresponding_author_email }}}</p>
  <div class="abstract">
    <h2>Abstract</h2>
    {{{ abstract }}}
  </div>
  <div class="keywords">
    <strong>Keywords:</strong>
    {{#keywords}}
    <span class="keyword">{{{ . }}}</span>{{^last}}, {{/last}}
    {{/keywords}}
  </div>
</header>
